worker_processes 1;

events {
    worker_connections 1024;
}
http {
    include mime.types;
    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout 65;

    proxy_cache_path /var/cache/nginx keys_zone=zone1:1m max_size=10m;
    proxy_temp_path  /tmp;

{{ range $hostname, $pass := .Upstreams }}
    server {
        listen 80;

        server_name {{ $hostname }};
        location /sleep {
            proxy_pass {{ $pass }}/sleep;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_cache zone1;
            proxy_cache_valid 200 10m;
            add_header X-Nginx-Cache $upstream_cache_status;
        }

        location / {
            proxy_pass {{ $pass }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
{{ end }}
}
